.main_container {
	min-width: 1200px;
	width: 1400px;
	margin: auto;
	font-family: 'Helvetica';
}


.header {
	height: 80px;
	display: flex;
	background-color: #fff;
	padding: 10px 100px 10px 100px;
	align-items: center;
}

.menu_link {
	color: black;
	text-decoration: none; /* no underline */
	opacity: 0.3;
}

.menu {
	flex: 5;
	opacity: 0.8;
	font-weight: 500;
}

.menu_links {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.form_container {
	height: 800px;
	background-image: url("https://csci571.com/hw/hw3/images/lawyer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}

.form_box {
	margin-left: 110px;
	width: 300px;
	height: 310px;
	background-color: #0b3c5d;
	padding: 40px 50px 75px 40px;
}

.input_box {
	height: 36px;
	width: 290px;
	margin: 24px 0px;
}

.yellow_btn {
	background-color: #fadd15;
	height: 48px;
	width: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.features {
	display: flex;
	height: 350px;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}

.feature_box {
	flex: 1;
	margin: 30px;
}

.feature_title {
	margin: 20px 0px;
}

.testimony_container {
	height: 350px;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.prices_container {
	height: 850px;
}

.prices_wrapper {
	display: flex;
	justify-content: space-between;
	margin: 100px 100px;

}

.prices_background {
	position: absolute;
	width: 1400px;
	min-width: 1200px;
	height: 100%;
	background-image: url("https://csci571.com/hw/hw3/images/glasses.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	filter: grayscale(100%);
	opacity: 0.5;
	z-index: -5;
}

.prices_box {
	width: 350px;
	height: 550px;
	position: relative;
	text-align: center;
	background-color: white;
	z-index: -2;
}

.prices_box_title {
	margin: 70px 0px 30px 0px;
}

.prices_box_feature {
	margin: 15px 0px;
}

.buy_now_btn {
	width: 160px;
	height: 56px;
	background-color: #0b3c5d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 30px;
}

.grid {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("https://csci571.com/hw/hw3/images/grid.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.10;
	z-index: -1;
}

.try_container {
	height: 500px;
	position: relative;
	text-align: center;
}

.blue_layer {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #0b3c5d;
	opacity: 0.8;
	z-index: -1;
}

.try_wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notebook {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("https://csci571.com/hw/hw3/images/notebook.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -2;
}

.footer {
	height: 250px;
	background-color: #1d2530;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social {
	display: flex;
	width: 300px;
	justify-content: space-between;
	margin-top: 32px;
}

.social_icon {
	width: 30px;
	height: 30px;
}

.bold {
	font-weight: 600;
}

.signature {
	display: flex;
	justify-content: center;
}

.white {
	color: rgba(255, 255, 255, 0.9);
}

.yellow {
	color: #fadd15;
}

.extra-small {
	font-size: 13px;
}

.small {
	font-size: 14px;
}

.medium {
	font-size: 20px;
}

.big {
	font-size: 30px;
}

.extra-big {
	font-size: 36px;
}

.italic {
	font-style: italic;
}

.small-margin-bottom {
	margin-bottom: 8px;
}

.margin-top {
	margin-top: 12px;
}

.text-center {
	text-align: center;
}

.empty_div_big {
	width: 100%;
	height: 60px;
}

.empty_div {
	width: 100%;
	height: 50px;
}

.off-white {
	color: white;
	opacity: 0.5;
}

.light-gray {
	color: black;
	opacity: 0.4;
}

.gray {
	color: black;
	opacity: 0.6;
}

.med-gray {
	color: black;
	opacity: 0.7;
}

.dark-gray {
	color: black;
	opacity: 0.8;
}